<nav class="navbar navbar-expand-lg">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#platformNav" aria-controls="platformNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand mx-auto mx-lg-0" href="{{mainSiteUrl}}">JustAidyn</a>

    <div class="d-flex align-items-center d-lg-none">
      <i class="navbar-icon bi-whatsapp me-3"></i>
      <a class="custom-btn btn" href="https://wa.me/77769889889" target="_blank" rel="noopener">WhatsApp</a>
    </div>

    <div class="collapse navbar-collapse" id="platformNav">
      <ul class="navbar-nav ms-lg-5">
        <li class="nav-item">
          <a class="nav-link {{#if (eq pageKey 'home')}}active{{/if}}" href="{{mainSiteUrl}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if (eq pageKey 'projects')}}active{{/if}}" href="{{projectsUrl}}">Projects</a>
        </li>
      </ul>

      <div class="d-lg-flex align-items-center d-none ms-auto platform-top-nav">
        <div class="nav-item dropdown me-3">
          <a class="nav-link dropdown-toggle platform-top-link" href="#" id="projectsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">JustAidyn Projects</a>
          <ul class="dropdown-menu" aria-labelledby="projectsDropdown">
            <li><a class="dropdown-item" href="{{mainSiteUrl}}">JustAidyn Home</a></li>
            <li><hr class="dropdown-divider"></li>
            {{#each projectLinks}}
              <li><a class="dropdown-item" href="{{this.url}}">{{this.label}}</a></li>
            {{/each}}
          </ul>
        </div>
        <a class="nav-link platform-top-link me-3" href="{{articlesUrl}}">Posts and Articles</a>
        <i class="navbar-icon bi-envelope me-3"></i>
        <a class="custom-btn btn" href="mailto:aidyn.daulet@gmail.com">aidyn.daulet@gmail.com</a>
      </div>
    </div>
  </div>
</nav>
